
      <!-- Navbar -->
      <nav class="navbar navbar-default" role="navigation" ng-controller="HeaderCtrl">

        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#">Angular Fire Auth</a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">

          <ul class="nav navbar-nav navbar-right">
            <li class="dropdown">
              <a class="dropdown-toggle faker" data-toggle="dropdown">Logged in as: {{ user.name }} <b class="caret"></b></a>
              <ul class="dropdown-menu">
                <li><a href="#/account">Account Settings</a></li>
                <li><a ng-click="logout()">Logout</a></li>
              </ul>
            </li>
          </ul>

        </div><!-- /.navbar-collapse -->
      </nav>
      <!-- // Navbar -->